<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmic Endevors</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
<body>
  <div class="dialoge">
    <h2>Cosmic Endevors</h2>
    <form action= "/play">
      <button class = "button" type="submit">
          NEW GAME!
      </button>
      <form action="load">
        <button class = "button" type="submit">
            LOAD GAME!
        </button>
  </div>
</body>

<!-- <form action="/character" method="post">
  <div class="dropdown">
      <button class="dropdown">Choose your Character!</button>
      <div class="dropdown-options">
          <a href="/joker">Joker</a>
          <a href="/sonic">Sonic</a>
          <a href="/sora">Sora</a>
      </div>
  </div> -->
