<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmic Endevors</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
<body>
  <div class="dialoge">
    <h2>Cosmic Endevors</h2>
    <div class="player"></div>
        <form action= "/start-game">
            <input type = "text" value="">
            <input type="radio" id="male" name="male gender" value="Male">
            <label for="male">Male</label><br>
            <input type="radio" id="female" name="female gender" value="Female">
            <label for="female">Female</label><br>
            <input type="radio" id="other" name="gender" value="Other:">
            <label for="gender">Other:</label><br>
        </form>
  </div>
</body>