<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cosmic Endeavors</title>
    <link rel="stylesheet" href="./static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  </head>
  <body>

    <div class="row">
        <a href="/up"><img src = "https://thenounproject.com/api/private/icons/1976610/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" width="300" height="250"></a>
        <div class="col">
          <a href="/left"><img src = "https://thenounproject.com/api/private/icons/1976609/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" width="300" height="250"></a>

            
            <img src= "https://i.ytimg.com/vi/qQvep-jJicg/maxresdefault.jpg" width="800" height="450">
            <a href="/right"><img src = "https://thenounproject.com/api/private/icons/1976606/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" width="300" height="250"></a>

        </div>

        <a href="/down"><img src = "https://thenounproject.com/api/private/icons/1976613/edit/?backgroundShape=SQUARE&backgroundShapeColor=%23000000&backgroundShapeOpacity=0&exportSize=752&flipX=false&flipY=false&foregroundColor=%23000000&foregroundOpacity=1&imageFormat=png&rotation=0" width="300" height="250"></a>

         <h3> 
          You wake up in a ship, not sure how you got there.  Soon, you remember that you were looking for a new planet to explore, and an alien got into the ship. The alien had broken the engine and scattered the pieces for it around, causing the ship to be stuck in space and unable to return down to earth. The rest of your crewmembers were killed, and now you must find all the missing pieces of the engine to make your way back down to earth. There are multiple rooms in the ship that have each piece of the engine, so you must find them and return back to the engine before time runs out.
        </h3>

    </div>
  </body>